rs-rate-trends {
  margin-top: 20px;
  display: block;
  position:relative;
}

rs-rate-trends-header {
  display: block;
  position: relative;

  form {
    position: relative;
  }
}

rs-rate-trends-graphs {
  display: block;
  position: relative;
}

.plot-canvas {
  width: 100%;
  height: 600px;
  position: relative;
}
