<form class="form-inline">
  <div class="form-group">
    <label or="from_date">From Date</label>
    <select class="form-control"
            id="from_date"
            ng-options="option for option in ctrl.availableDates"
            ng-model="ctrl.selectedBeginDate.DateString"
            ng-change="ctrl.getStatistics(ctrl.selectedBeginDate, ctrl.selectedEndDate)">
    </select>
  </div>
  <div class="form-group">
    <label for="to_date">To Date</label>
    <select class="form-control"
            id="to_date"
            ng-options="option for option in ctrl.availableDates"
            ng-model="ctrl.selectedEndDate.DateString"
            ng-change="ctrl.getStatistics(ctrl.selectedBeginDate, ctrl.selectedEndDate)">
    </select>
  </div>
</form>
